<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.image? %>
    <%= image_tag blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [800, 600] : [1024, 768]) %>
  <% end %>

  <% if blob.video? %>
    <%= video_tag blob.attachable.url,
      preload: "auto",
      controls: true,
      width: "100%",
      height: "100%" %>
  <% end %>

  <figcaption class="attachment__caption">
    <% if caption = blob.try(:caption) %>
      <%= caption %>
    <% else %>
      <span class="attachment__name">
        <%= File.basename(blob.filename.to_s, blob.filename.extension_with_delimiter) %>
      </span>
    <% end %>
  </figcaption>
</figure>
