<%= form_with model: [:admin, @artist], method: @artist.new_record? ? :post : :put do |form| %>
  <div class="row">
    <div class="col-3">
      <div class="form-group mt-1 mb-1">
        <%= form.label :avatar %>
        <%= form.file_field :avatar, class: "form-control" %>
      </div>
      <div class="form-group mt-1 mb-1">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group mt-1 mb-1">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group mt-1 mb-1">
        <%= form.label :instagram %>
        <div class="input-group">
          <span class="input-group-text" id="artist_instagram">@</span>
          <%= form.text_field :instagram, class: "form-control" %>
        </div>
      </div>
      <div class="form-group mt-1 mb-1">
        <%= form.label :status %>
        <%= form.select :status, Artist.statuses.map {|k, _| [k.capitalize, k]}, {}, class: "form-select" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="form-group mt-1 mb-1">
        <%= form.label :about %>
        <%= form.text_area :about, size: "30x10", class: "form-control" %>
      </div>
      <div class="form-group mt-1 mb-1">
        <%= form.label :statement %>
        <%= form.text_area :statement, size: "30x10", class: "form-control" %>
      </div>
    </div>
  </div>
  <%= form.submit @artist.new_record? ? "Create Artist" : "Update Artist", class: "btn btn-primary" %>
<% end %>
