<div class="container mt-2 mb-2">
  <h4>Artists</h4>
  <%= link_to "New Artist", new_admin_artist_path, class: "btn btn-sm btn-primary" %>
  <div class="row mt-2 mb-2">
    <div class="col">
      <table class="table table-sm table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @artists.each do |artist| %>
            <tr>
              <th><%= artist.id %></th>
              <td><%= link_to artist.name, admin_artist_path(artist) %></td>
              <td>
                <span class="badge rounded-pill bg-<%= artist.badge_type %>">
                  <%= artist.status.humanize %>
                </span>
              </td>
              <td>
                <%= link_to "Posts",
                    admin_artist_posts_path(artist),
                    class: "btn btn-sm btn-primary mr-1" %>
                <%= link_to "Reset password", reset_password_admin_artist_path(artist),
                    method: :put,
                    class: "btn btn-sm btn-primary mr-1" %>
                <%= link_to "Send welcome e-mail", send_welcome_email_admin_artist_path(artist),
                    method: :put,
                    class: "btn btn-sm btn-success mr-1" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @artists, theme: "bootstrap-5" %>
    </div>
  </div>
</div>
