<div class="container mt-2 mb-2">

  <h4><%= @artist.name %></h4>
  <%= link_to "Edit", edit_admin_artist_path(@artist) %>
  <div>
    <span class="badge rounded-pill bg-<%= @artist.badge_type %>">
      <%= @artist.status.humanize %>
    </span>
  </div>

  <% if @artist.avatar.attached? %>
    <%= image_tag @artist.avatar.variant(resize: "100x100") %>
  <% end %>

  <div class="row">
    <div class="col-3">
      <h5>Basic Info</h5>
      <table class="table table-sm table-borderless">
        <tbody>      
          <tr>
            <th>Email</th>
            <td><%= @artist.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if @artist.social_media.present? %>
      <%= render partial: 'social_media_table' %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-5">
      <table class="table table-md table-borderless">
        <tbody>
          <tr>
            <th>About</th>
            <td>
              <p><%= @artist.about %></p>
            </td>
          </tr>
          <tr>
            <th>Statement</th>
            <td>
              <p><%= @artist.statement %></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h5>Artworks</h5>
  <%= link_to "Add artwork", new_admin_artist_artwork_path(@artist), class: "btn btn-primary" %>
  <% if @artist.artworks.present? %>
    <div class="row mt-2 mb-2">
      <%= render partial: 'artworks_table' %>
    </div>
  <% end %>
</div>
