<div class="container mt-2 mb-2">

  <h4><%= @artist.name %></h4>
  <%= link_to "Edit", edit_admin_artist_path(@artist) %>
  <div>
    <span class="badge rounded-pill bg-<%= @artist.badge_type %>">
      <%= @artist.status.humanize %>
    </span>
  </div>

  <% if @artist.avatar.attached? %>
    <%= image_tag @artist.avatar.variant(resize: "100x100") %>
  <% end %>

  <div class="row">
    <div class="col-3">
      <h5>Basic Info</h5>
      <table class="table table-sm table-borderless">
        <tbody>      
          <tr>
            <th>Email</th>
            <td><%= @artist.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if @artist.social_media.present? %>
      <div class="col-3">
        <h5>Social Media</h5>
        <table class="table table-sm table-borderless">
          <tbody>
            <% @artist.social_media.order(medium: :asc).each do |social_medium| %>
              <tr>
                <th><%= social_medium.medium.humanize %></th>
                <td><%= social_medium.handle %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-5">
      <table class="table table-md table-borderless">
        <tbody>
          <tr>
            <th>About</th>
            <td>
              <p><%= @artist.about %></p>
            </td>
          </tr>
          <tr>
            <th>Statement</th>
            <td>
              <p><%= @artist.statement %></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
