<%= form_with model: @series, url: @series.new_record? ? admin_exhibition_series_index_path : admin_exhibition_series_path do |form| %>
  <div class="row">
    <div class="col-3">
      <div class="form-group mt-1 mb-1">
        <%= form.label :artist_id %>
        <%= form.select :artist_id, Artist.active.pluck(:name, :id), { prompt: "Select an artist" }, class: "form-select" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group mt-1 mb-1">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="form-group mt-1 mb-1">
        <%= form.label :description %>
        <%= form.text_area :description, size: "30x10", class: "form-control", style: "resize: none" %>
      </div>
    </div>
  </div>
  <%= form.submit class: "btn btn-sm btn-primary" %>
<% end %>
