<div class="container my-2">
  <%= link_to "Return to exhibition", admin_exhibition_path(@exhibition.id) %>
  <h4><%= @series.artist.name %> - <%= @series.title %></h4>
  <%= link_to "Edit series", edit_admin_exhibition_series_path(@series.id), class: "btn btn-sm btn-secondary" %>
  <div class="row my-2">
    <div class="col-5">
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <th>Description</th>
            <td>
              <p><%= @series.description %></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <h5>Artworks</h5>
    <div class="col-3">
      <div data-controller="drag" data-drag-url="/artworks/:id/move">
        <% @series.artworks.order(position: :asc).each do |artwork| %>
          <div data-id="<%= artwork.id %>"class="card mb-2">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <% if artwork.file.video? %>
                    <%= video_tag url_for(artwork.file),
                      preload: "auto",
                      width: "100px",
                      height: "100px" %>
                  <% elsif artwork.file.audio? %>
                    <%= audio_tag url_for(artwork.file), 
                      autoplay: true,
                      controls: true %>
                  <% elsif artwork.file.content_type == 'application/pdf' %>
                    <embed
                      src=<%= url_for(artwork.file) %>
                      width="100px"
                      height="100px"
                      type="application/pdf">
                  <% elsif artwork.file.representable? %>
                    <%= image_tag artwork.file.representation(resize_to_limit: [50, 50]) %>
                  <% end %>
                </div>
                <div class="col">
                  <p class="card-text"><%= artwork.title %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
