<%= form_with model: [:admin, @exhibition], method: @exhibition.new_record? ? :post : :put do |form| %>
  <div class="row">
    <div class="col-lg-3">
      <div class="form-group mt-1 mb-1">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="form-group mt-1 mb-1">
        <%= form.label :start_at %>
        <%= form.text_field :start_at, class: "flatpickr" %>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group mt-1 mb-1">
        <%= form.label :end_at %>
        <%= form.text_field :end_at, class: "flatpickr" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <div class="form-group mt-1 mb-1">
        <%= form.label :description %>
        <%= form.text_area :description, size: "30x10", class: "form-control" %>
      </div>
    </div>
  </div>
  <%= form.submit class: "btn btn-sm btn-primary" %>
<% end %>
