<h5>Series</h5>
<%= link_to "New series", new_admin_exhibition_series_path(@exhibition.id), class: "btn btn-sm btn-primary" %>
<div class="row">
  <div class="col">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Artist</th>
          <th>Title</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @series.each do |series| %>
          <tr>
            <th><%= series.id %></th>
            <td><%= series.artist.name %></td>
            <td><%= series.title %></td>
            <td><%= series.description %></td>
            <td style="text-align:center">
              <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="actionsDropdown<%= series.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
              </button>
              <ul class="dropdown-menu" aria-labelledby="actionsDropdown<%= series.id %>">
                <%= link_to "Edit", edit_admin_exhibition_series_path(@exhibition.id, series.id), class: "dropdown-item" %>
                <%= link_to "View", admin_exhibition_series_path(@exhibition.id, series.id), class: "dropdown-item" %>
                <li><hr class="dropdown-divider"></li>
                <%= link_to "Delete", admin_exhibition_series_path(@exhibition.id, series.id), method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item" %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
