<div class="container my-2">
  <%= link_to "Cancel", admin_artist_artwork_path(@artist, @artwork) %>
  <h4>Edit Artwork</h4>
  <% if @artwork.file.present? %>
    <% if @artwork.file.video? %>
      <%= video_tag url_for(@artwork.file),
        preload: "auto",
        controls: true,
        width: "100%",
        height: "100%" %>
    <% elsif @artwork.file.audio? %>
      <%= audio_tag url_for(@artwork.file), 
        autoplay: true,
        controls: true %>
    <% elsif @artwork.file.content_type == 'application/pdf' %>
      <embed
        src=<%= url_for(@artwork.file) %>
        width="100%"
        height="500"
        type="application/pdf">
    <% elsif @artwork.file.representable? %>
      <%= image_tag @artwork.file.representation(resize_to_limit: local_assigns[:in_gallery] ? [800, 600] : [1024, 768]) %>
    <% end %>
  <% end %>
  <%= render partial: 'form' %>
</div>
