<div class="container my-2">
  <%= link_to "Back to Artist", admin_artist_path(@artist) %>
  <h4><u><%= @artwork.title %></u></h4>
  <% if @artwork.file.present? %>
    <figure class="attachment attachment--<%= @artwork.file.representable? ? "preview" : "file" %> attachment--<%= @artwork.file.filename.extension %>">
      <% if @artwork.file.video? %>
        <%= video_tag url_for(@artwork.file),
          preload: "auto",
          controls: true,
          width: "100%",
          height: "100%" %>
      <% elsif @artwork.file.audio? %>
        <audio autoplay controls>
          <source
            src="<%= url_for(@artwork.file, host: ENV['ASSET_HOST']) %>"
            type="<%= @artwork.file.content_type %>"
          >
        </audio>
      <% elsif @artwork.file.content_type == 'application/pdf' %>
        <embed
          src=<%= url_for(@artwork.file) %>
          width="100%"
          height="500"
          type="application/pdf">
      <% elsif @artwork.file.representable? %>
        <%= image_tag @artwork.file.representation(resize_to_limit: local_assigns[:in_gallery] ? [800, 600] : [1024, 768]) %>
      <% end %>
    </figure>
  <% end %>
  <%= link_to "Edit", edit_admin_artist_artwork_path(@artist, @artwork), class: "btn btn-sm btn-secondary" %>
  <%= link_to "Invoice Preview", invoice_preview_admin_artist_artwork_path(@artist, @artwork, format: :pdf), class: "btn btn-sm btn-secondary" %>
  <div class="row my-2">
    <div class="col-4">
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <th>Artist</th>
            <td><%= @artist.name %></td>
          </tr>
          <tr>
            <th>Year</th>
            <td><%= @artwork.created_at.strftime("%Y") %></td>
          </tr>
          <tr>
            <th>Medium</th>
            <td><%= @artwork.medium %></td>
          </tr>
          <tr>
            <th>Measurements</th>
            <td><%= @artwork.measurements %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td><%= @artwork.price %></td>
          </tr>
          <tr>
            <th>NFT Site Link</th>
            <td>
              <% if @artwork.nft_site_url? %>
                <%= link_to 'Click here', @artwork.nft_site_url, target: :_blank %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-sm table-borderless">
        <tr>
          <th>Description</th>
          <td>
            <p><%= @artwork.description %></p>
          </td>
        </tr>
        <tr>
          <th>Notes</th>
          <td><%= @artwork.notes %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<style>
  p {
    white-space: pre-wrap;
  }
</style>
