<div class="container my-2">
  <%= link_to "Back", artist_module_profile_path %>
  <h4>Change Password</h4>
  <%= form_with model: @artist, url: update_password_artist_module_profile_path, method: :put do |form| %>
    <div class="row">
      <div class="col-3">
        <div class="form-group mt-1 mb-1">
          <%= form.label :password %>
          <%= form.text_field :password, class: "form-control" %>
        </div>
        <div class="form-group mt-1 mb-1">
          <%= form.label :password_confirmation %>
          <%= form.text_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
    </div>
    <%= form.submit "Update Password", class: "btn btn-primary" %>
  <% end %>
</div>
