<div class="container mt-2 mb-2">
  <h3>Edit Profile</h3>
  <%= form_with model: @artist, url: artist_module_profile_path, method: :put do |form| %>
    <div class="row">
      <div class="col-3">
        <div class="form-group mt-1 mb-1">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group mt-1 mb-1">
          <%= form.label :email %>
          <%= form.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group mt-1 mb-1">
          <%= form.label :about %>
          <%= form.text_area :about, class: "form-control" %>
        </div>
      </div>
    </div>
    <%= form.submit "Update Profile", class: "btn btn-primary" %>
  <% end %>
</div>
