<div class="container mt-2 mb-2">
  <%= link_to "Back", artist_module_profile_path %>
  <h4>Edit Profile</h4>
  <% if @artist.avatar.attached? %>
    <%= image_tag @artist.avatar.variant(resize: "100x100") %>       
  <% end %>
  <%= form_with model: @artist, url: artist_module_profile_path, method: :put do |form| %>
    <div class="row">
      <div class="col-3">
        <h5>Basic Info</h5>
        <div class="form-group mt-1 mb-1">
          <%= form.label :avatar %>
          <%= form.file_field :avatar, class: "form-control" %>
        </div>
        <div class="form-group mt-1 mb-1">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group mt-1 mb-1">
          <%= form.label :email %>
          <%= form.email_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="col-3">
        <h5>Social Media</h5>
        <div id="social_media">
          <%= form.fields_for :social_media do |social_medium| %>
            <%= render "social_medium_fields", f: social_medium %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add', form, :social_media, class: "btn btn-sm btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="form-group mt-1 mb-1">
          <%= form.label :about %>
          <%= form.text_area :about, size: "30x10", class: "form-control" %>
        </div>
        <div class="form-group mt-1 mb-1">
          <%= form.label :statement %>
          <%= form.text_area :statement, size: "30x10", class: "form-control" %>
        </div>
      </div>
    </div>
    <%= form.submit "Update Profile", class: "btn btn-primary" %>
  <% end %>
</div>
