<%= form_with model: [@artist, @post], method: @post.new_record? ? :post : :put do |form| %>
  <div class="row">
    <div class="col-3">
      <div class="form-group mt-1 mb-1">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control", disabled: @post.published? %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <% if @post.published? %>
      <div class="form-group mt-1 mb-1">
        <%= form.label :body %>
        <%= @post.body %>
      </div>
      <% else %>
        <div class="form-group mt-1 mb-1">
          <%= form.label :body %>
          <%= form.rich_text_area :body, class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
  <% if @post.published? %>
    <%= form.submit "Unpublish", class: "btn btn-danger" %>
  <% else %>
    <%= form.submit "Save as Draft", class: "btn btn-link" %>
    <%= form.submit "Publish", class: "btn btn-primary" %>
  <% end %>
<% end %>
