<%= form_with model: [:admin, @user], method: @user.new_record? ? :post : :put do |form| %>
  <div class="row">
    <div class="col-4">
      <div class="form-group my-1">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group my-1">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control" %>
      </div>
    </div>
  </div>
  <%= form.submit @user.new_record? ? "Create User" : "Update User", class: "btn btn-primary" %>
<% end %>
